<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equal="Content-Type" content="text/thml; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>My page</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <nav class="navbar navbar-dark sticky-top py-1 m-0">
        <a class="navbar-brand" id="navBar"></a>
        <a class="nav-link " style="color: #808080" href="/logout">Logout</a>
    </nav>
</div>

<div class="container-fluid h-100 m-0">
    <div class="row">
        <div class="col-md-2 m-0 p-0">
            <br>
            <ul class="nav flex-column nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#" role="tab"
                       aria-controls="user_panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>

        <div class="container col-md-10 bg-light px-4 py-3" style="background-size: unset">
            <h1>User information page</h1>
            <div class="border border-muted rounded">
                <div class="border rounded-top border-right-0 border-top-0 border-left-0
                         border-muted px-3 pt-2 pb-1" style="background-color: #f1f1f1">
                    <h5>About user</h5>
                </div>
                <div class="container col-md p-4 m-0" style="background-color: white">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr id="userInfo">
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/user.js"></script>
</body>
</html>